absl-py==2.3.1
alabaster==1.0.0
altgraph==0.17.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astunparse==1.6.3
attrs==25.4.0
av==12.1.0
babel==2.17.0
beautifulsoup4==4.14.3
black==25.9.0
blinker==1.9.0
blis==1.3.3
branca==0.8.1
catalogue==2.0.10
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
chartjs==1.2
click==8.3.0
cloudpathlib==0.23.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.3
coverage==7.10.7
cryptography==46.0.5
curl_cffi==0.13.0
cycler==0.12.1
cymem==2.0.13
Cython==3.1.6
distlib==0.4.0
distro==1.9.0
docutils==0.21.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi==0.110.0
filelock==3.19.1
flake8==7.3.0
Flask==3.1.3
flatbuffers==25.12.19
folium==0.20.0
fonttools==4.61.1
frozendict==2.4.7
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.46
google-pasta==0.2.0
groq==1.0.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
identify==2.6.15
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
isort==6.1.0
itsdangerous==2.2.0
jax==0.7.1
jaxlib==0.7.1
Jinja2==3.1.6
joblib==1.5.3
keras==3.13.1
kiwisolver==1.4.9
language_tool_python==3.2.2
libclang==18.1.1
lxml==6.0.2
mando==0.7.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.32
ml_dtypes==0.5.3
MouseInfo==0.1.3
multitasking==0.0.12
murmurhash==1.0.15
mypy==1.18.2
mypy_extensions==1.1.0
namex==0.1.0
nltk==3.9.3
nodeenv==1.9.1
numpy==2.4.2
opencv-contrib-python==4.13.0.90
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.18.0
packaging==26.0
pandas==2.3.3
pathspec==0.12.1
pdfminer.six==20251230
pdfplumber==0.11.9
peewee==3.19.0
pefile==2023.2.7
pillow==12.1.0
platformdirs==4.4.0
pluggy==1.6.0
pre_commit==4.3.0
preshed==3.0.12
protobuf==6.33.5
psutil==5.9.8
pyarmor==9.1.9
pyarmor.cli.core==7.6.8
PyAutoGUI==0.9.54
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
PyMsgBox==2.0.1
pynput==1.8.1
pyparsing==3.3.2
pypdfium2==5.5.0
pyperclip==1.11.0
pyphen==0.17.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
PyScreeze==1.0.1
pytesseract==0.3.13
pytest==8.4.2
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-qt==4.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-pptx==1.0.2
pytokens==0.1.10
pytweening==1.2.0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
radon==6.0.1
regex==2026.2.28
requests==2.31.0
rich==14.2.0
roman-numerals-py==3.1.0
scikit-learn==1.8.0
scipy==1.16.3
sentencepiece==0.2.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smart_open==7.5.1
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sounddevice==0.5.5
soupsieve==2.8.1
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srsly==2.5.2
starlette==0.36.3
tensorboard-data-server==0.7.2
termcolor==3.3.0
textstat==0.7.13
thinc==8.3.10
threadpoolctl==3.6.0
toml==0.10.2
tqdm==4.67.3
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
# Editable install with no version control (udp-ground-control==1.0.0)
-e c:\desktop\flight interlinked final v\udp ground control
urllib3==2.5.0
uvicorn==0.29.0
virtualenv==20.34.0
wasabi==1.1.3
weasel==0.4.3
websockets==16.0
Werkzeug==3.1.5
wheel==0.45.1
wrapt==2.0.1
xlsxwriter==3.2.9
xyzservices==2025.4.0
yfinance==1.0

gunicorn
flask-cors
